@charset "UTF-8";
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Supermercado One";
  scroll-behavior: smooth;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #070707;
  background-color: #fff;
  max-width: 1445px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Supermercado One";
}

p, ul, li {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed";
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #070707;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 937px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: capitalize;
  font-family: "Supermercado One";
}
.menu__link {
  text-decoration: none;
  color: #828282;
  margin-right: 8.8rem;
  margin-top: 1.8rem;
}
.menu__link:hover {
  color: #070707;
}
.menu__link:active {
  opacity: 0.7;
  color: #688E62;
}
.menu__link_active {
  color: #070707;
  text-decoration: none;
  margin-right: 8.8rem;
  margin-top: 1.8rem;
}
.menu__link_last {
  margin-top: 1.8rem;
  color: #828282;
  text-decoration: none;
}
.menu__link_last:hover {
  color: #070707;
}
.menu__link_last:active {
  opacity: 0.7;
  color: #688E62;
}
.menu__line {
  margin-top: 4.8rem;
  margin-bottom: 1.97rem;
  border-top: 2px solid #828282;
  max-width: 937px;
  width: 100%;
  max-height: 0;
}

#pacman {
  width: 27px;
  height: 27px;
  background-image: url(/img/pacman-pixel.png);
  background-size: 27px 27px;
  position: relative;
  top: -29px;
}

#ghost {
  width: 54px;
  height: 36px;
  background-image: url(/img/packman-game.png);
  background-size: 54px 36px;
  position: relative;
  top: -65px;
  left: 897px;
  -webkit-animation: ghostMov 2s infinite linear;
          animation: ghostMov 2s infinite linear;
}

@-webkit-keyframes ghostMov {
  0% {
    left: 897px;
  }
  100% {
    left: -18px;
  }
}

@keyframes ghostMov {
  0% {
    left: 897px;
  }
  100% {
    left: -18px;
  }
}
.jump {
  -webkit-animation: jump 0.5s linear;
          animation: jump 0.5s linear;
}

@-webkit-keyframes jump {
  0% {
    top: -1.6rem;
  }
  30% {
    top: -54px;
  }
  50% {
    top: -108px;
  }
  80% {
    top: -3rem;
  }
  100% {
    top: -1.6rem;
  }
}

@keyframes jump {
  0% {
    top: -1.6rem;
  }
  30% {
    top: -54px;
  }
  50% {
    top: -108px;
  }
  80% {
    top: -3rem;
  }
  100% {
    top: -1.6rem;
  }
}
.page__content {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1445px;
  margin: 0 auto;
}
.main__container {
  width: 100%;
  max-width: 937px;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease;
          animation: fade-in 2s ease;
}
.main__container .element-animation {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 2s ease 0s;
}
.main__container .element-animation .element-show {
  opacity: 1;
  transform: translateY(0);
}
.main__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.5rem;
}
.main__title {
  font-size: 2.63rem;
  font-weight: 400;
  line-height: 3.14rem;
  overflow-wrap: break-word;
  max-width: 16rem;
}
.main__paragraf {
  max-width: 8.6rem;
  overflow-wrap: break-word;
}
.main__language {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  max-height: 5rem;
  height: 100%;
  padding-bottom: 0.5rem;
}
.main__photo {
  margin-bottom: 6rem;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed";
  font-size: 0.88rem;
  font-weight: 400;
  transform: rotate(180deg);
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  color: #000;
}

.rus-lang {
  color: #828282;
}

.en-lang {
  margin-top: 1rem;
}
.en-lang::before {
  content: " " "|" " ";
}

.main-block {
  max-width: 80rem;
  width: 100%;
  max-height: 28rem;
  height: 100%;
  background-color: #f6f6f6;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease;
          animation: fade-in 2s ease;
}
.main-block .element-animation {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 2s ease 0s;
}
.main-block .element-animation .element-show {
  opacity: 1;
  transform: translateY(0);
}
.main-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-block__title {
  font-size: 1.88rem;
  font-weight: 400;
  line-height: 2.22rem;
  margin-bottom: 1rem;
  padding-top: 6.6rem;
}
.main-block__paragraf {
  margin-bottom: 1.5rem;
}
.main-block__paragraf_last {
  padding-bottom: 8.6rem;
}

.main-section {
  width: 100%;
  max-width: 937px;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease;
          animation: fade-in 2s ease;
}
.main-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__title {
  font-size: 1.88rem;
  font-weight: 400;
  line-height: 2.22rem;
  margin-bottom: 3.5rem;
  margin-top: 5rem;
}
.main-section__paragraf {
  margin-bottom: 4.4rem;
}
.main-section__block {
  width: 100%;
  max-width: 52rem;
  height: 100%;
  max-height: 11.6rem;
  margin-bottom: 6.2rem;
}
.main-section__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-bottom: 12.3rem;
  color: #828282;
  text-transform: uppercase;
  font-size: 14px;
}
.main-section__list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}
.main-section__list-block:last-child {
  margin: 0;
}
.main-section__list-block_mod {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.el-1, .el-3, .el-5 {
  margin-bottom: 1rem;
}

.el-7 {
  margin-bottom: 1.7rem;
}

.el-2, .el-4, .el-6, .el-8 {
  margin-bottom: 2.2rem;
}

.star::after {
  content: "";
  display: block;
  background-image: url(/img/Star.svg);
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}
.star__last {
  content: "";
  display: block;
  background-image: url(/img/Star-1.svg);
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}
.star__last:hover {
  content: attr();
  display: block;
  background-image: url(/img/Star.svg);
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
}

.main-pro {
  max-width: 80rem;
  width: 100%;
  max-height: 83rem;
  height: 100%;
  background-color: #f6f6f6;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease;
          animation: fade-in 2s ease;
}
.main-pro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-pro__title {
  font-size: 1.88rem;
  font-weight: 400;
  line-height: 2.22rem;
  margin-top: 6.2rem;
  margin-bottom: 2.6rem;
}
.main-pro__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-flow {
  margin-bottom: 2.4rem;
}
.work-flow_paragraf {
  margin-bottom: 3rem;
  color: #070707;
}

.footer {
  max-width: 80rem;
  width: 100%;
  max-height: 34.5rem;
  height: 100%;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease;
          animation: fade-in 2s ease;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  font-size: 1.88rem;
  font-weight: 400;
  line-height: 2.22rem;
  margin-top: 6.2rem;
  margin-bottom: 1.2rem;
}
.footer__paragraf {
  margin-bottom: 1.6rem;
}
.footer__social {
  margin-top: 4.7rem;
  margin-bottom: 11rem;
}
.footer__social_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.telegram, .instagram, .github {
  margin-right: 3.4rem;
}

.button-contacts {
  color: #fff;
  background-color: #070707;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
}

.hidden {
  display: none;
}

.modal {
  width: 100%;
  max-width: 40rem;
  max-height: 40rem;
  color: #070707;
  font-family: "Barlow Semi Condensed";
  margin: 0 auto;
}
.modal__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal__window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.modal__contact {
  margin-bottom: 0.5rem;
}

.form_email {
  margin-left: 2rem;
}

.mod-1 {
  margin-top: 2rem;
  margin-left: 10rem;
}

.email {
  margin-left: 12.3rem;
}