@import 'fonts';
@import 'colors';
*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
    font-size: $font-size;
    line-height: 1.5;
    font-weight: $font-weight;
    color:$basic-black;
    background-color: $basic-white;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-main ;
}

.page {
margin: 0;
padding: 0;
font-family:$font-family-1;
font-size: $font-size;
line-height: 1.5;
font-weight: $font-weight;
color:$basic-black;
background-color:$basic-white;
}
.container{
width: 100%;
max-width: 937px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    max-width: 937px;
    width: 100%;
    &__link {
        text-decoration: none;
        color: $basic-neutral;
        font-family: $font-family-main;
        margin-right: 8.8rem ;
        &_active{
            color: $basic-black;
            text-decoration: none;
            font-family: $font-family-main;
            margin-right: 8.8rem;
        }
        &_last {
            margin: 0;
            color: $basic-neutral;
            text-decoration: none;
            font-family: $font-family-main;
        }
    }
}


